.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.holder {
  width: 500px;
  height: 500px;
  min-height: 100px;
  min-width: 100px;
  position: relative;
  border: 1px solid maroon;
  box-shadow: 1px 2px 2px lightblue;
  border-radius: 4px;
  resize: both;
  overflow: auto;
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: aliceblue;
  font-size: 14px;
  font-weight: 500;
  background-color: maroon;
  border-radius: 3px;
  cursor: move;
}
